.btn {
  padding: 10px 20px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue */
}

.btn:focus {
  outline: none;
}

.react-flow__attribution {
  display: none;
}